body {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  /*home section*/
  /* responsive */
}
body.hidden-scrolling {
  overflow-y: hidden;
  overflow-x: hidden;
}
body * {
  margin: 0;
  box-sizing: border-box;
}
body header {
  background-color: #fbf4ee;
  width: 110%;
  height: 700px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center 90%;
  background-attachment: fixed;
}
body .container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body .header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 15px;
}
body .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
  position: relative;
  align-items: center;
  bottom: 1px;
}
body .header .logo a {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 7px;
}
body .header .nav-menu {
  padding: 0 15px;
}
body .header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
body .header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 12.6px;
  color: rgb(51, 51, 51);
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
}
body .header .menu > .menu-item > a .plus {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
body .header .menu > .menu-item > a .plus:before, body .header .menu > .menu-item > a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
body .header .menu > .menu-item:hover > a .plus:before, body .header .menu > .menu-item:hover > a .plus:after {
  background-color: #333333;
}
body .header .menu > .menu-item:hover > a {
  color: #222222;
}
body .header .menu > .menu-item > a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
body .header .menu > .menu-item > .sub-menu > .menu-item > a:hover {
  color: #222222;
}
body .header .menu > .menu-item > .sub-menu {
  z-index: 100;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  width: 420px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 1px solid #333333;
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
body .header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
body .header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
body .header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}
body .header .open-nav-menu span:before, body .header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}
body .header .open-nav-menu span:before {
  top: -7px;
}
body .header .open-nav-menu span:after {
  top: 7px;
}
body .header .close-nav-menu {
  height: 40px;
  width: 40px;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
body .header .close-nav-menu i {
  font-size: 36px;
  color: #000000;
}
body .header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  body .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  body .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
body .home-section {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center top;
  background-size: cover;
}
@media (max-width: 1097px) {
  body .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  body .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    color: #ffffff;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  body .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  body .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  body .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  body .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  body .header .menu > .menu-item > a .plus:before, body .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  body .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  body .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  body .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  body .header .close-nav-menu,
body .header .open-nav-menu {
    display: flex;
  }
}
body .sub-menu .flx {
  display: flex;
}
body .sub-menu .flx img {
  width: 40px;
  height: 40px;
  margin: 3px 15px 3px 0;
}
body .sub-menu .flex {
  margin-left: 20px;
}
body .sub-menu .flex h3 {
  font-size: 16px;
}
body .sub-menu .flex .beta {
  background-color: #1abc9c;
  border-radius: 40px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
body .sub-menu .flex span {
  padding: 1px;
  color: #333333;
  font-size: 12px;
  margin-left: 10px;
}
body .menu-item.active > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 1.5px;
  background-color: #a2a2a2;
  bottom: 2px;
  left: calc(50% - 35px);
}
body .menu-item.login {
  font-size: 12.6px;
  line-height: 18px;
  vertical-align: baseline;
  padding: 5px 15px;
  border: 1px solid #000000;
  text-align: center;
}
body .menu-item.login:hover {
  font-size: 12.6px;
  line-height: 18px;
  vertical-align: baseline;
  padding: 5px 15px;
  border: 1px solid #000000;
  text-align: center;
}
body .menu-item.login:hover a:hover {
  color: #595959;
}
body .menu-item.signup:hover {
  padding: 5px 15px;
  border: 1px solid #000;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}
body .menu-item.signup:hover a:hover {
  color: #595959;
}
body .menu-item.signup {
  padding: 5px 15px;
  border: 1px solid #000;
  display: inline-block;
  min-width: 90px;
  text-align: center;
}
body #first {
  margin-top: 10%;
  margin-left: 10%;
}
body #first .studio .row {
  display: flex;
  justify-content: space-around;
}
body #first .studio .row .titles .image {
  display: flex;
}
body #first .studio .row .titles .image img {
  height: 30px;
  width: 30px;
  margin: 0 15px 0 0;
}
body #first .studio .row .titles .image p {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 19.5px;
  text-align: left;
}
body #first .studio .row .titles .image span {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.94px;
  line-height: 9px;
  background-color: #1ABC9C;
  height: 21px;
  width: 45.8px;
  margin: 0 0 0 10px;
  padding: 6px 8px 6px 8px;
  min-height: auto;
  min-width: auto;
  border-radius: 15px;
  opacity: 70%;
}
body #first .studio .row .titles .title h3 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 50px;
  -webkit-text-decoration: none solid rgb(29, 29, 29);
          text-decoration: none solid rgb(29, 29, 29);
  text-align: left;
  word-spacing: 0px;
  margin: 20px 0 0 0;
}
body #first .studio .row .titles .title p {
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
  font-size: 18px;
  line-height: 30.42px;
  -webkit-text-decoration: none solid rgb(95, 95, 95);
          text-decoration: none solid rgb(95, 95, 95);
  text-align: left;
  color: #5f5f5f;
  margin: 20px 0 20px;
  height: 61px;
  width: 410px;
}
body #first .studio .row .titles .title .tag {
  margin-top: 15%;
}
body #first .studio .row .titles .title .tag .get {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #1ABC9C;
  height: 82px;
  width: 300px;
  margin: 0 20px 0 24px;
  padding: 12px 22px 12px 12px;
  min-height: auto;
  max-width: 170px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}
body #first .studio .row .titles .title .tag .icon {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  -webkit-text-decoration: none solid rgb(26, 188, 156);
          text-decoration: none solid rgb(26, 188, 156);
  text-align: left;
  height: 20px;
  width: 126px;
  margin: 5%;
}
body #first .studio .row .titles .title .tag .icon i {
  color: #2a7869;
  font-size: 16px;
  font-weight: 900;
}
body #first .studio .row .titles .title .tag .icon span {
  color: #1ABC9C;
}
body #first .studio .row .images img {
  height: 574px;
  width: 394px;
  min-width: 200px;
  min-height: 200px;
}

main #image {
  margin-top: 200px;
  background-image: url(../images/kiss-cover.jpg);
  height: 595px;
  width: 1519px;
  max-width: 1600px;
  background-position: center 66%;
  background-size: cover;
}
main #image .titles .title {
  margin-top: 25%;
}
main #image .titles .title h2 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 19.5px;
  color: #fff;
  margin: 20px 0 0 0;
  opacity: 50%;
}
main #image .titles .title h3 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 32px;
  line-height: 40px;
  height: 80px;
  width: 420px;
  margin: 20px 0 0 0;
  color: #ffffff;
}
main #image .titles .title p {
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
  font-size: 18px;
  line-height: 30.42px;
  width: 420px;
  color: #ffffff;
  margin: 32px 0 0 0;
}
main #image .image {
  margin-top: 5%;
}
main #image .image img {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  height: 534px;
  width: 376px;
  max-width: 100%;
}
main #tools .tool {
  margin-top: 15%;
  display: flex;
}
main #tools .tool .titles {
  padding: 10%;
}
main #tools .tool .titles h2 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 19.5px;
  color: #afafaf;
}
main #tools .tool .titles h3 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 32px;
  line-height: 40px;
  margin: 20px 0 0;
  width: 390px;
  color: #000;
}
main #tools .tool .titles p {
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
  font-size: 18px;
  line-height: 30px;
  width: 390px;
  margin: 30px 0 0 0;
}
main #tools .tool .images img {
  height: 565px;
  width: 522px;
}
main #tools .tool .images .img {
  height: 500px;
  margin-left: 20%;
}
main #versat {
  margin-top: 20%;
}
main #versat .versat {
  background-color: #FBF4EE;
  height: 757px;
  width: 1350px;
  margin: 130px 65px 0 65px;
  max-width: 1350px;
}
main #versat .versat .image {
  margin-top: 8%;
}
main #versat .versat .image img {
  height: 650px;
  width: 517px;
}
main #versat .versat .title {
  margin-top: 9%;
  padding: 0 30px 0 0;
}
main #versat .versat .title h3 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 19.5px;
  color: #ff7d62;
}
main #versat .versat .title h4 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 420px;
  margin: 20px 0 0 0;
  font-size: 32px;
  line-height: 40px;
  color: #3d3d3d;
}
main #versat .versat .title .icons {
  margin-top: 10%;
  display: flex;
}
main #versat .versat .title .icons i {
  margin: 25px 20px 0 0;
  font-size: 16px;
  color: #5f5f5f;
  text-align: left;
}
main #versat .versat .title .icons .text {
  height: 50px;
  width: 380px;
  text-align: left;
  color: #5f5f5f;
}
main #versat .versat .title .icons .text h4 {
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 19.5px;
}
main #versat .versat .title .icons .text p {
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
  font-size: 14px;
  line-height: 24.5px;
}
main #cards {
  padding: 10%;
}
main #cards .container .row {
  display: flex;
  justify-content: space-between;
}
main #cards .container .row .title {
  margin: 0 0 50px;
}
main #cards .container .row .title h3 {
  font-size: 35px;
  text-align: center;
  color: #1d1d1d;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}
main #cards .container .row .card {
  width: 30%;
}
main #cards .container .row .card .product {
  padding: 60px 30px;
  margin: 15px;
}
main #cards .container .row .card .product a {
  text-decoration: none;
}
main #cards .container .row .card .product a .image img {
  width: 30px;
  height: 30px;
}
main #cards .container .row .card .product a .image span {
  font-size: 20px;
  margin: 15px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
main #cards .container .row .card .product a .text {
  margin-top: 30px;
}
main #cards .container .row .card .product a .text p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  color: #595959;
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
}
main #cards .container .row .card .product a .learn h5 {
  color: #595959;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
main #cards .container .row .card .product a .learn i {
  margin-left: 10px;
  font-size: 10px;
}
main #cards .container .row .card:hover {
  box-shadow: 5px 5px 13px #000;
  transition: box-shadow 0.4s ease-out;
  padding: 20px;
  width: 30%;
}
main #cards .container .row .card:hover .product {
  padding: 60px 30px;
  margin: 15px;
}
main #cards .container .row .card:hover .product a {
  text-decoration: none;
}
main #cards .container .row .card:hover .product a .image img {
  width: 30px;
  height: 30px;
}
main #cards .container .row .card:hover .product a .image span {
  font-size: 20px;
  margin: 15px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
main #cards .container .row .card:hover .product a .text {
  margin-top: 30px;
}
main #cards .container .row .card:hover .product a .text p {
  line-height: 2;
  text-align: left;
  font-size: 18px;
  color: #595959;
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
}
main #cards .container .row .card:hover .product a .learn h5 {
  color: #595959;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
main #cards .container .row .card:hover .product a .learn i {
  margin-left: 10px;
  font-size: 10px;
}
main #get {
  margin-top: 5%;
  background-color: #f6fbfa;
  padding-bottom: 150px !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding: 10px;
}
main #get .get {
  text-align: center;
}
main #get .get .container .row {
  justify-content: center;
}
main #get .get .container .row .title {
  margin-top: 20%;
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.25;
  margin: 10% 0 5% 0;
}
main #get .get .container .row .text {
  color: #555;
  font-family: adobe-garamond-pro, Garamond, Georgia, serif;
  font-size: 20px;
  position: relative;
}
main #get .get .container .row .text::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 1.5px;
  background-color: #1abc9c;
  top: 30px;
  left: calc(50% - 155px);
}
main #get .get .container .row a {
  text-align: center;
  background-color: #1abc9c;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  line-height: 12px;
  font-size: 13px;
  padding: 20px 2px;
  width: 20%;
  margin: 20px;
  margin-right: 3%;
}

footer .footer {
  padding: 69px 15% 60px 15%;
  background-color: #212121;
}
footer .footer .container .row .product h6 {
  margin-bottom: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #fff;
}
footer .footer .container .row .product ul li {
  padding: 10px;
}
footer .footer .container .row .product ul li a {
  line-height: 22.4px;
  text-align: start;
  color: #fff;
  font-size: 14px;
  margin: 0 0 0 -10px;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}
footer .footer .container .row .resour h6 {
  margin-bottom: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #fff;
}
footer .footer .container .row .resour ul li {
  padding: 10px;
}
footer .footer .container .row .resour ul li a {
  line-height: 22.4px;
  text-align: start;
  color: #fff;
  font-size: 14px;
  margin: 0 0 0 -10px;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}
footer .footer .container .row .company h6 {
  margin-bottom: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #fff;
}
footer .footer .container .row .company ul li {
  padding: 10px;
}
footer .footer .container .row .company ul li a {
  line-height: 22.4px;
  text-align: start;
  color: #fff;
  font-size: 14px;
  margin: 0 0 0 -10px;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}
footer .footer .container .row .pixieset .image img {
  width: 150px;
}
footer .footer .container .row .pixieset .title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 150%;
  font-family: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ddd;
}
footer .footer .container .row .pixieset .socialmedias h6 {
  margin-top: 20%;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #fff;
}
footer .footer .container .row .pixieset .socialmedias ul {
  display: flex;
}
footer .footer .container .row .pixieset .socialmedias ul li a {
  margin-right: 30px !important;
  color: white;
  font-size: 16px;
}/*# sourceMappingURL=mgapp.css.map */